<a href="https://colab.research.google.com/github/Indrejue/DS-Unit-2-Linear-Models/blob/master/module2-regression-2/Antony_Farag_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [1]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [2]:
import numpy as np
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt


# Read New York City apartment rental listing data
rents = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert rents.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
rents = rents[(rents['price'] >= np.percentile(rents['price'], 0.5)) & 
        (rents['price'] <= np.percentile(rents['price'], 99.5)) & 
        (rents['latitude'] >= np.percentile(rents['latitude'], 0.05)) & 
        (rents['latitude'] < np.percentile(rents['latitude'], 99.95)) &
        (rents['longitude'] >= np.percentile(rents['longitude'], 0.05)) & 
        (rents['longitude'] <= np.percentile(rents['longitude'], 99.95))]

In [3]:
rents.shape

(48817, 34)

In [4]:
rents.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [5]:
rents.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48817 entries, 0 to 49351
Data columns (total 34 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   bathrooms             48817 non-null  float64
 1   bedrooms              48817 non-null  int64
 2   created               48817 non-null  object
 3   description           47392 non-null  object
 4   display_address       48684 non-null  object
 5   latitude              48817 non-null  float64
 6   longitude             48817 non-null  float64
 7   price                 48817 non-null  int64
 8   street_address        48807 non-null  object
 9   interest_level        48817 non-null  object
 10  elevator              48817 non-null  int64
 11  cats_allowed          48817 non-null  int64
 12  hardwood_floors       48817 non-null  int64
 13  dogs_allowed          48817 non-null  int64
 14  doorman               48817 non-null  int64
 15  dishwasher            48817 non-null  int64
 16  no_fee                48817 non-null  int64
 17  laundry_in_building   48817 non-null  int64
 18  fitness_center        48817 non-null  int64
 19  pre-war               48817 non-null  int64
 20  laundry_in_unit       48817 non-null  int64
 21  roof_deck             48817 non-null  int64
 22  outdoor_space         48817 non-null  int64
 23  dining_room           48817 non-null  int64
 24  high_speed_internet   48817 non-null  int64
 25  balcony               48817 non-null  int64
 26  swimming_pool         48817 non-null  int64
 27  new_construction      48817 non-null  int64
 28  terrace               48817 non-null  int64
 29  exclusive             48817 non-null  int64
 30  loft                  48817 non-null  int64
 31  garden_patio          48817 non-null  int64
 32  wheelchair_access     48817 non-null  int64
 33  common_outdoor_space  48817 non-null  int64
dtypes: float64(3), int64(26), object(5)
memory usage: 13.0+ MB

In [6]:
# convert rents created to date time format
rents['created']= pd.to_datetime(rents['created'])

In [7]:
#sort by date to then make date the index
rents = rents.sort_values('created')
rents.head()

      bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
5186        1.0         1  ...                 0                    0
7945        1.0         0  ...                 0                    0
6424        2.0         3  ...                 0                    1
7719        1.0         1  ...                 0                    1
1723        1.0         1  ...                 0                    0

[5 rows x 34 columns]

In [8]:
# set dates created to be the index
rents=rents.set_index('created')
rents.head()

                     bathrooms  ...  common_outdoor_space
created                         ...
2016-04-01 22:12:41        1.0  ...                     0
2016-04-01 22:56:00        1.0  ...                     0
2016-04-01 22:57:15        2.0  ...                     1
2016-04-01 23:26:07        1.0  ...                     1
2016-04-02 00:48:13        1.0  ...                     0

[5 rows x 33 columns]

In [56]:
#split the price and affecting parameters into seperate referance points
y = rents['price']
X = rents[['bedrooms','bathrooms','elevator']]

In [57]:
#prepare target dates masks
cutoff='2016-06-01 00:00:01'
mask = X.index<cutoff
X_train, y_train = X.loc[mask], y.loc[mask]
X_test, y_test = X.loc[~mask], y.loc[~mask]

In [58]:
assert len(X) == len(X_train)+len(X_test)

In [59]:
#download the sklearn moduals that i will be operatin with
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [60]:
#prepare a baseline based on the mean of price
y_pred = [y_train.mean()] * len(y_train)

print('Baseline MAE:', mean_absolute_error(y_train, y_pred))

Baseline MAE: 1201.8811133682555

In [61]:

model = LinearRegression()

In [62]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [63]:
print('Training MAE:', mean_absolute_error(y_train, model.predict(X_train)))
print('Testing MAE:', mean_absolute_error(y_test, model.predict(X_test)))
print('Training RMSE:', mean_squared_error(y_train, model.predict(X_train), squared=False))
print('Testing RMSE:', mean_squared_error(y_test, model.predict(X_test), squared=False))

Training MAE: 791.0547045751714
Testing MAE: 798.8568459132108
Training RMSE: 1206.1364913647317
Testing RMSE: 1195.4519659862676

In [64]:
print('Training R^2:', model.score(X_train, y_train))
print('Testing R^2:', model.score(X_test, y_test))

Training R^2: 0.5314808324706244
Testing R^2: 0.5401880232409575

In [65]:
X_train.columns

Index(['bedrooms', 'bathrooms', 'elevator'], dtype='object')

In [66]:
model.coef_

array([ 420.59334019, 1964.64827082,  511.06694624])

In [67]:
model.intercept_

296.80095919024643